.dash-header{
    display: flex;
    justify-content: center;
}

.dashSubtitle {
    margin: 2em 0 0 0 !important
}

.dash-button {
    transform: scale(1);
    box-shadow: none;
    transition: all .2s;
    background-color: #FFE152 !important;
    border: 1px solid #77D4F3 !important
}
.dash-button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 20px -4px rgba(0,0,0,0.5);
    border: 3px solid #30BCED !important;
}

.dash-logo {
    width: 500px
}