.dashboard {
    margin-top: 2em;
}

.dash-header{
    display: flex;
    justify-content: center;
}

.dashSubtitle {
    margin: 2em 0 0 0 !important
}

.button-group {
    margin-top: 1em;
}

.dash-button {
    transform: scale(1);
    box-shadow: none;
    border: none !important;
    transition: all .2s;
    background-color: rgba(255, 229, 34, .8) !important;
}
.dash-button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 20px -4px rgba(0,0,0,0.5);
    background-color: rgba(255, 229, 34, 1) !important;
    border: 2px solid #59D9E8 !important;
}

.dash-logo {
    width: 500px
}