.logoLogin {
    width: 60%;
    margin: 3.5em auto 3em auto
}

.login-button {
    background-color: rgba(255, 229, 34, 0.904) !important;
}
.login-button:hover {
    background-color: rgba(255, 229, 34, 1) !important
}

.login-form {
    background: url("./LoginBG.svg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-button {
    width: 50%;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin: auto
}

.loginRegisterText {
    color: #33C6F7;
    margin-top: 1.5em
}

.tagline {
    color: #30BCED
}

.form {
background-color: rgba(255,255,255,1);
border-radius: 5px;
box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.31);
}

.register-title{
    color: #455AFF !important
}
.register-subtitle{
    color: #28A9FF !important
}

.cancel-register {
    color: rgba(255,255,255,.5);
}
.cancel-register:hover {
    color: rgba(255,255,255,1);
}


