.navbar {
    border-radius: 0 !important;
}

.navLink:hover {
    color: #33C6F7 !important;
    background-color: white !important;
    border: none
}

.fullNav{
background-color: #33C6F7 !important
}

.activeNavLink {
    background-color: white;
    color: #33C6F7 !important;
}

.logout-button {
    background-color: #33C6F7 !important;
    /* color: white !important */
    border: none !important;
    padding: 0;
    transition: all .2s
}

.logout-button:hover {
    background-color: white !important;
    color: #33C6F7 !important;
}



