.navbar {
    border-radius: 0 !important;
}

.navLink {
    color: white !important;
    background-color: #33C6F7 !important
}
.navLink:hover {
    color: #33C6F7 !important;
    background-color: white !important;
    border: none
}

.fullNav{
background-color: #33C6F7 !important
}

