.keySelector,
.availableChords,
.lyrics {
    margin: 2em 0;
}

.titleInput {
    margin: 2em 0 0 0;
    border: 1px solid #5433FF !important

}

.your-chords {
    width: 82%;
}

.chord {
    margin: .75rem;
    border-radius: 10px;
}

.degree {
 padding-bottom: 0 !important;
}

.key {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 .3rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: dodgerblue;
    box-shadow: 0 0 1rem gray;
  }

  .degrees {
      margin-bottom: 0 !important
  }

  .chord1 {
      border: 5px solid #5433FF;
      background-color: #5433FF;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
  }
  .chord2 {
      border: 5px solid #455AFF;
      background-color: #455AFF
  }
  .chord3 {
      border: 5px solid #28A9FF;
      background-color: #28A9FF
  }
  .chord4 {
      border: 5px solid #33C6F7;
      background-color: #33C6F7
  }
  .chord5 {
      border: 5px solid #59D9E8;
      background-color: #59D9E8
  }
  .chord6 {
      border: 5px solid #7FEBD8;
      background-color: #7FEBD8
  }
  .chord7 {
      border: 5px solid #A4FEC9;
      background-color: #A4FEC9;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .yourChord1 {
      border: 2px solid #28A9FF
  }
  .yourChord2 {
    border: 2px solid #33C6F7
  }
  .yourChord3 {
    border: 2px solid #59D9E8
  }
  .yourChord4 {
    border: 2px solid #7FEBD8
  }

  .lyricInput {
      border: 1px solid #33C6F7 !important
  }

  .lyricHelperButton {
    border: 1px solid #59D9E8 !important;
    margin-top: .5em;
    transition: all .3s
  }
  .lyricHelperButton:hover {
    background-color: #59D9E8 !important;
    color: white !important;
    transform: scale(1.2);
    -webkit-box-shadow: 0px 11px 31px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 11px 31px -6px rgba(0,0,0,0.39);
  }

  .descInput {
    border: 1px solid #7FEBD8 !important
  }

  .saveButton {
    box-shadow: none;
    margin: 1em 0 5em 0;
    transform: scale(1);
    transition: all .3s;
    border-radius: 50px !important;
    border: 1px solid #5433FF !important
  }

  .saveButton:hover {
    background-color: #5433FF !important;
    color: white !important;
    transform: scale(1.2);
    -webkit-box-shadow: 0px 11px 31px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 11px 31px -6px rgba(0,0,0,0.39);
    box-shadow: 0px 11px 31px -6px rgba(0,0,0,0.39);
  }
  .saveButton:active {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 6px 20px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 6px 20px -6px rgba(0,0,0,0.39);
    box-shadow: 0px 6px 20px -6px rgba(0,0,0,0.39);
  }

  

  