@keyframes play45 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -10125px 0px;
    }
  }
  .shapeshifter {
    animation-duration: 750ms;
    animation-timing-function: steps(45);
    animation-fill-mode: forwards;
    width: 225px;
    height: 291px;
    background-repeat: no-repeat;
  }
  .shapeshifter.play {
    animation-name: play45;
  }
  